.login { 
position: absolute;
top: 25%;
left: 30%;
margin: -150px 0 0 -150px;
width:1000px;
    
}
body { 
    background-color: #F0F0F0;
}
.bgimage { 
position: absolute;
top: 0%;
left: 50%;
    z-index: -1;
}
.left-side{
float:left;

}
.right-side{
float:right;

}
.bar-sm{
width:800px
}
.bar-md{
width:1000px
}
.link{
cursor:pointer;
    text-decoration:underline;
}
.small-figure{
width:490px;
height:490px;
}
.figure{
width:100%
}
.long{
width:1000px
}
.grid-container {
display: grid;
    grid-gap: 20px;
    grid-template-columns: 490px 490px;
}
.grid-item-small{
    
}
.grid-item-long{
    grid-column-start:1;
    grid-column-end:2;
}
.grid-item-row-1{
    grid-row-start:1;
    grid-row-end:1;
}
.grid-item-row-2{
    grid-row-start:2;
    grid-row-end:2;
}



